<div class="font-four">
  <div class="wallpaper-area"></div>

  <!-- Todos -->
  <div class="after-wallpaper mx-auto max-w-xl relative -top-44 px-4 z-10">
    <div class="font-bold mb-4">
      <h2 class="text-4xl text-white tracking-widest">T O D O</h2>
    </div>

    <!-- New todo -->
    <div class="w-full rounded-sm bg-white overflow-hidden mb-4">
      <input
        type="text"
        class="
          px-4
          py-3
          w-full
          ml-10
          focus:outline-none
          font-medium
          text-gray-700 text-lg
        "
      />
    </div>

    <!-- Looping over todos -->
    <div class="w-full rounded-sm bg-white overflow-hidden shadow-sm">
      <div *ngFor="let todo of mainList">
        <div class="border-b flex items-center group cursor-pointer">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="mx-3 h-8 w-8 border rounded-full group-hover:text-pr-light"
            viewBox="0 0 20 20"
            fill="currentColor"
            [class.text-white]="!todo.done"
            [class.text-pr-medium]="todo.done"
          >
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
              clip-rule="evenodd"
            />
          </svg>
          <h4 class="py-3 w-full font-normal text-gray-700 text-lg font-four">
            {{ todo.name.toString() }}
          </h4>
        </div>
      </div>
      <!-- Stats -->
      <div
        *ngIf="mainList && mainList.length > 0"
        class="text-sm px-4 py-3 flex justify-between items-center"
      >
        <p class="text-gray-400 font-medium">
          {{ mainList?.length }} todos left
        </p>
        <div>
          <ul class="flex content-between space-x-3 font-medium">
            <li class="text-pr-medium cursor-pointer">All</li>
            <li class="text-gray-400 cursor-pointer">Active</li>
            <li class="text-gray-400 cursor-pointer">Done</li>
          </ul>
        </div>
        <p class="text-gray-700 font-semibold cursor-pointer">
          Clear Completed
        </p>
      </div>
    </div>
  </div>
</div>
