<div
  *ngIf="isAuthenticated"
  class="z-20 absolute w-full font-four"
  [class.h-full]="isMobileNavOpen"
>
  <div class="absolute w-full top-0 p-3 flex items-center">
    <svg
      (click)="switchMobileNavState()"
      xmlns="http://www.w3.org/2000/svg"
      class="text-white h-6 w-6 cursor-pointer md:hidden"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 6h16M4 12h16M4 18h16"
      />
    </svg>

    <!-- Logo -->
    <h2
      class="
        font-logo
        text-white
        flex-1
        text-right
        md:text-left
        font-bold
        text-sm
      "
    >
      Checkly
    </h2>

    <!-- Desktop links -->
    <ul class="hidden md:flex space-x-6 text-sm text-white">
      <li>Home</li>
      <li>Lists</li>
      <li><button (click)="logout()">Log out</button></li>
    </ul>
  </div>

  <!-- Mobile nav open -->
  <div
    *ngIf="isMobileNavOpen"
    class="
      z-20
      left-0
      h-full
      w-full
      bg-white
      absolute
      top-0
      p-8
      flex flex-col
      md:hidden
    "
  >
    <div (click)="switchMobileNavState()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-10 w-10 cursor-pointer"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </div>

    <ul class="flex-1 grid place-content-center">
      <li>Home</li>
      <li>Lists</li>
      <li><button (click)="logout()">Log out</button></li>
    </ul>
  </div>
</div>
<h2 class="opacity-0">.</h2>
